In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [14]:
df = pd.read_csv('50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [15]:
transformer_list = [
     ('encoded', OneHotEncoder(dtype='int'), [3]),
     ('skip', 'passthrough', ["R&D Spend", "Administration", "Marketing Spend", "Profit"])
]

In [16]:
ct = ColumnTransformer(transformer_list)

In [17]:
tr = ct.fit_transform(df)

In [18]:
df2 = pd.DataFrame(tr, columns=ct.get_feature_names())
df2.head()

,encoded__x0_California,encoded__x0_Florida,encoded__x0_New York,R&D Spend,Administration,Marketing Spend,Profit
0,0.0,0.0,1.0,165349.20,136897.80,471784.10,192261.83
1,1.0,0.0,0.0,162597.70,151377.59,443898.53,191792.06
2,0.0,1.0,0.0,153441.51,101145.55,407934.54,191050.39
3,0.0,0.0,1.0,144372.41,118671.85,383199.62,182901.99
4,0.0,1.0,0.0,142107.34,91391.77,366168.42,166187.94

In [19]:
X = df2.iloc[:, :-1].values
y = df2.iloc[:, -1].values

In [20]:
y = y.reshape(len(y), 1)
y.shape

(50, 1)

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.2, random_state=50)

In [22]:
from sklearn.linear_model import LinearRegression

mlr = LinearRegression()
mlr.fit(X_train, y_train)

y_pred = mlr.predict(X_test)

In [23]:
import numpy as np

con = np.concatenate((y_test, y_pred), axis=1)
con

array([[ 96712.8       , 115571.37458214],
       [ 90708.19      ,  87943.25066834],
       [191792.06      , 214069.18501537],
       [ 81229.06      ,  78096.97928043],
       [152211.77      , 177331.5241857 ],
       [126992.93      , 132336.14979983],
       [ 96479.51      , 101635.5598319 ],
       [134307.35      , 143406.4697784 ],
       [101004.64      , 120253.37452223],
       [108552.04      , 117426.01097192],
       [124266.9       , 135216.41055474],
       [ 49490.75      ,  78821.49521134],
       [141585.52      , 134762.2428001 ],
       [108733.99      , 118889.20474857],
       [107404.34      , 114013.78790471],
       [182901.99      , 192839.48929157],
       [ 81005.76      ,  87177.70332903],
       [129917.04      , 161053.33422948],
       [ 77798.83      ,  72295.07834055],
       [122776.86      , 121188.23680377],
       [ 14681.4       ,  56696.87548316],
       [192261.83      , 220979.21483189],
       [149759.96      , 162273.88166616],
       [146121.95      , 133140.05583907],
       [111313.02      , 150669.51611778],
       [125370.37      , 156713.81680661],
       [ 42559.73      ,  56267.00722832],
       [118474.03      , 133175.94088321],
       [ 78239.91      ,  89928.91100386],
       [ 65200.33      ,  78531.53295405],
       [105733.54      , 114090.86713028],
       [105008.31      , 146157.14430283],
       [103282.38      , 116360.02894961],
       [132602.65      , 159542.48421835],
       [ 69758.98      ,  73769.206746  ],
       [155752.6       , 170979.29956482],
       [ 97483.56      , 115171.07149244],
       [191050.39      , 183783.05314203],
       [156991.12      , 177740.13739505],
       [110352.25      , 127202.63165778]])